{% extends "Website(chessboard)3.0.html" %}
<html lang="en">

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/History.css">
{% endblock %}

{% block body %}
<div class="sidebar">
<a href="#precursors">Precursors</a>
<a href="#Introduction to Europe">Introduction to Europe</a>
<a href="#Standardization of rules">Standardization of rules</a>
<a href="#Set design">Set design</a>
<a href="#The world championship and FIDE">The world championship and FIDE</a>
</div>
<div class="main-contents">
<h2>History</h2>
<h3 id="precursors">Ancient precursors and related games</h3>
<p>The origin of chess remains a matter of controversy. There is no credible evidence that chess existed in a form approaching the modern game
    before the 6th century CE. Game pieces found in Russia, China, India, Central Asia, Pakistan, and elsewhere that have been determined to be older
    than that are now regarded as coming from earlier distantly related board games, often involving dice and sometimes using playing boards of 100 or more squares.</p>

<p>One of those earlier games was a war game called chaturanga, a Sanskrit name for a battle formation mentioned in the Indian epic Mahabharata.
    Chaturanga was flourishing in northwestern India by the 7th century and is regarded as the earliest precursor of modern chess because it had
    two key features found in all later chess variants—different pieces had different powers (unlike checkers and go), and victory was based on one piece,
    the king of modern chess.</p>

<p>How chaturanga evolved is unclear. Some historians say chaturanga, perhaps played with dice on a 64-square board, gradually transformed into shatranj
    (or chatrang), a two-player game popular in northern India, Pakistan, Afghanistan, and southern parts of Central Asia after 600 CE. Shatranj resembled
    chaturanga but added a new piece, a firzān (counselor), which had nothing to do with any troop formation. A game of shatranj could be won either by
    eliminating all an opponent’s pieces (baring the king) or by ensuring the capture of the king. The initial positions of the pawns and knights have not changed,
    but there were considerable regional and temporal variations for the other pieces.</p>

<p>The game spread to the east, north, and west, taking on sharply different characteristics. In the East, carried by Buddhist pilgrims, Silk Road traders,
    and others, it was transformed into a game with inscribed disks that were often placed on the intersection of the lines of the board rather than within
    the squares. About 750 CE chess reached China, and by the 11th century it had come to Japan and Korea. Chinese chess, the most popular version of the Eastern
    game, has 9 files and 10 ranks as well as a boundary—the river, between the 5th and 6th ranks—that limits access to the enemy camp and makes the game slower
    than its Western cousin.</p>

    <h3 id="Introduction to Europe">Introduction to Europe</h3>
    <p>A form of chaturanga or shatranj made its way to Europe by way of Persia, the Byzantine Empire, and, perhaps most important of all, the expanding
        Arabian empire. The oldest recorded game, found in a 10th-century manuscript, was played between a Baghdad historian, believed to be a favourite of
        three successive caliphs, and a pupil.</p>

<p>Muslims brought chess to North Africa, Sicily, and Spain by the 10th century. Eastern Slavs spread it to Kievan Rus about the same time. The Vikings
    carried the game as far as Iceland and England and are believed responsible for the most famous collection of chessmen, 78 walrus-ivory pieces of various
    sets that were found on the Isle of Lewis in the Outer Hebrides in 1831 and date from the 11th or 12th century.</p>

<p>Chess and dice games were periodically banned by kings and religious leaders. For example, King Louis IX forbade the game in France in 1254. However, the game’s
    popularity was helped by its social cachet: a chess set was often associated with wealth, knowledge, and power. It was a favourite of Kings Henry I, Henry II,
    John, and Richard I of England, of Philip II and Alfonso X (the Wise) of Spain, and of Ivan IV (the Terrible) of Russia. It was known as the royal game as early
    as the 15th century.</p>

    <h3 id="Standardization of rules">Standardization of rules</h3>
<p>The modern rules and appearance of pieces evolved slowly, with widespread regional variation. By 1300, for example, the pawn had acquired the ability to move
    two squares on its first turn, rather than only one at a time as it did in shatranj. But this rule did not win general acceptance throughout Europe for more
    than 300 years.</p>

<p>Chess made its greatest progress after two crucial rule changes that became popular after 1475. Until then the counselor was limited to moving one square
    diagonally at a time. And, because a pawn that reached the eighth rank could become only a counselor, pawn promotion was a relatively minor factor in the
    course of a game. But under the new rules the counselor underwent a sex change and gained vastly increased mobility to become the most powerful piece on
    the board—the modern queen. This and the increased value of pawn promotion added a dynamic new element to chess. Also, the chaturanga piece called the elephant,
    which had been limited to a two-square diagonal jump in shatranj, became the bishop, more than doubling its range.</p>

<p>Until these changes occurred, checkmate was relatively rare, and more often a game was decided by baring the king. With the new queen and bishop powers,
    the trench warfare of medieval chess was replaced by a game in which checkmate could be delivered in as few as two moves.</p>

<p>The last two major changes in the rules—castling and the en passant capture—took longer to win acceptance. Both rules were known in the 15th century but had
    limited usage until the 18th century. Minor variations in other rules continued until the late 19th century; for example, it was not acceptable in many parts
    of Europe as late as the mid-19th century to promote a pawn to a queen if a player still had the original queen.</p>

    <h3 id="Set design">Set design</h3>
<p>The appearance of the pieces has alternated between simple and ornate since chaturanga times. The simple design of pieces before 600 CE gradually led to
    figurative sets depicting animals, warriors, and noblemen. But Muslim sets of the 9th–12th centuries were often nonrepresentational and made of simple clay
    or carved stone following the Islamic prohibition of images of living creatures. The return to simpler, symbolic shatranj pieces is believed to have spurred
    the game’s popularity by making sets easier to make and by redirecting the players’ attention from the intricate pieces to the game itself.</p>

<p>Stylized sets, often adorned with precious and semi-precious stones, returned to fashion as the game spread to Europe and Russia. Playing boards, which had
    monochromatic squares in the Muslim world, began to have alternating black and white, or red and white, squares by 1000 CE and were often made of fine wood
    or marble. Peter I (the Great) of Russia had special campaign boards made of soft leather that he carried during military efforts.</p>

<p>The king became the largest piece and acquired a crown and sometimes an elaborate throne and mace. The knight’s close identification with the horse dates
    back to chaturanga. The pawn, as the lowest in power and social standing, has traditionally been the smallest and least representational of the pieces.
    The queen grew in size after 1475, when its powers expanded, and changed from a male counselor to the king’s female consort. The bishop was known by different
    names—“fool” in French and “elephant” in Russian, for example—and was not universally recognized by a distinctive mitre until the 19th century. Depiction of
    the rook also varied considerably. In Russia it was usually represented as a sailing ship until the 20th century. Elsewhere it was a warrior in a chariot or
    a castle turret.</p>

<p>The standard for modern sets was established about 1835 with a simple design by an Englishman, Nathaniel Cook. After it was patented in 1849, the design was
    endorsed by Howard Staunton, then the world’s best player; because of Staunton’s extensive promotion, it subsequently became known as the Staunton pattern.
    Only sets based on the Staunton design are allowed in international competition today.</p>

    <h3 id="The world championship and FIDE">The world championship and FIDE</h3>
<p>The popularity of chess has for the past two centuries been closely tied to competition, usually in the form of two-player matches, for the title of world
    champion. The title was an unofficial one until 1886, but widespread spectator interest in the game began more than 50 years earlier. The first major
    international event was a series of six matches held in 1834 between the leading French and British players, Louis-Charles de la Bourdonnais of Paris
    and Alexander McDonnell of London, which ended with Bourdonnais’s victory. For the first time, a major chess event was reported extensively in newspapers
    and analyzed in books. Following Bourdonnais’s death in 1840, he was succeeded by Staunton after another match that gained international attention,
    Staunton’s defeat of Pierre-Charles Fournier de Saint-Amant of France in 1843. This match also helped introduce the idea of stakes competition, since
    Staunton won the £100 put up by supporters of the two players.</p>

<p>Staunton used his position as unofficial world champion to popularize the Staunton-pattern set, to promote a uniform set of rules, and to organize the
    first international tournament, held in London in 1851. Karl Ernst Adolf Anderssen, a German schoolteacher, was inspired by the Bourdonnais-McDonnell
    match to turn from problem composing to tournament competition, and he won the London tournament and with it recognition as unofficial champion. The
    London tournament, in turn, inspired American players to organize the first national championship, the First American Chess Congress, in New York City
    in 1857, which set off the first chess craze in the Western Hemisphere. The winner, Paul Morphy of New Orleans, was recognized as unofficial world champion
    after defeating Anderssen in 1858.</p>

<p>The world championship became more formalized after Morphy retired and Anderssen was defeated by Wilhelm Steinitz of Prague in a match in 1866. Steinitz
    was the first to claim the authority to determine how a title match should be held. He set down a series of rules and financial conditions under which he
    would defend his status as the world’s foremost player, and in 1886 he agreed to play Johann Zukertort of Austria in the first match specifically designated
    as being for the world championship. Steinitz reserved the right to determine whose challenge he would accept and when and how often he would defend his title.</p>

<p>Steinitz’s successor, Emanuel Lasker of Germany, proved a more demanding champion than Steinitz in arranging matches. He took long periods, from 1897 to
    1907 and later from 1910 to 1921, without defending his title. After the leading national chess federations, the British and German, failed to arrange a
    match between Lasker and any of his leading challengers on the eve of World War I, the momentum for an independent international authority began to grow.</p>

<p>The controversy over the championship was eased when José Raúl Capablanca of Cuba defeated Lasker in 1921 and won the agreement, at a tournament in London
    in 1922, of the world’s other leading players to a written set of rules for championship challenges. Under those rules, any player who met certain financial
    conditions (in particular, guaranteeing a $10,000 stake) could challenge the World Champion. While the top players were trying to adhere to the London Rules,
    representatives of 15 countries met in Paris in 1924 to organize the first permanent international chess federation, known as FIDE, its French acronym for
    Fédération Internationale des Échecs.</p>

<p>The London Rules worked smoothly in 1927 when Capablanca was dethroned by Alexander Alekhine, the first Russian-born champion, but then proved to be a
    financial obstacle in Capablanca’s bid for a rematch. FIDE’s attempts to intervene failed. Alekhine was widely criticized for manipulating the rules,
    and when he died in 1946 FIDE assumed the authority to organize world championship matches.</p>

<p>From 1948, when FIDE organized a match tournament to fill the vacancy created by Alekhine’s death, until 1975 the FIDE format worked without major problems.
    The international federation organized three-year cycles of regional and international competitions to determine the challengers for the World Champion and
    solicited bids for match sites. The champion no longer had a veto power over opponents and was required to defend the title every three years.</p>

<p>FIDE also took over the Women’s World Championship and biennial Olympiad team championships, which originated in the 1920s. In addition, the federation developed
    new championship titles, particularly for junior players in various age groups. It also created a system for recognizing top players by arithmetic rating and by
    titles based on tournament performance. The highest title, after World Champion, is International Grandmaster, of whom there are now more than 500 in the world.</p>

<p>The easing and eventual end of the Cold War spurred international chess by reducing barriers. By the mid-1990s close to 2,000 tournaments registered with FIDE
    were held each year—more than 50 times the number during the 1950s. Amateur chess expanded sharply. Membership in the U.S. Chess Federation jumped from 2,100
    in 1957 to more than 70,000 in 1973.</p>

<p>All World Champions and challengers from 1951 to 1969 were Soviet citizens, and all the championship matches were held in Moscow with small prizes and limited
    international publicity. The victory of Robert J. (Bobby) Fischer of the United States in 1972 was an abrupt change. Fischer’s demands spurred an increase in
    the prize fund to $250,000—a sum greater than all previous title matches combined. After winning the highly publicized match, Fischer insisted on a greater say
    in match rules than had any previous champion in the FIDE era. In particular, he objected to a rule, used by FIDE since 1951, that limited championship matches
    to 24 games. FIDE dropped the rule, but Fischer demanded further concessions. In the end he refused to defend his title; in 1975 he became the first champion to
    lose it by default.</p>

<p>Fischer’s successor, Anatoly Karpov of the Soviet Union, reigned for 10 years but was dethroned in 1985 by a countryman and bitter rival, Garry Kasparov. Kasparov
    then clashed repeatedly with FIDE over the rules governing the championship. He reluctantly agreed to defend his title under the federation’s rules three times
    during 1986–90, winning each time. However, when Nigel Short of England won the right to challenge Kasparov for the championship in 1993, he and Kasparov decided
    instead to play the match under the auspices of a new organization, the Professional Chess Association (PCA). Before Kasparov defeated Short in London in late 1993
    in the first PCA championship, FIDE disqualified Kasparov and organized its own world championship match, won by Karpov.</p>

<p>FIDE began holding annual “knockout” tournaments in 1999 to determine its championship. Alexander Khalifman of Russia won the first tournament, which was held in
    Las Vegas, Nevada. In 2000 the tournament venue was split between New Delhi, India, and Tehrān, Iran, and was won by Viswanathan Anand of India. Meanwhile, Kasparov
    lost a title match to Vladimir Kramnik of Russia in 2000.</p>

<p>Following negotiations with FIDE, which recognized Kramnik as the “classical” world chess champion, he agreed to a unification match in 2006 with FIDE’s
    challenger, the Bulgarian grandmaster Veselin Topalov, who had won the 2005 FIDE World Championship Tournament. Kramnik won the match. As part of the unification
    contract, the winner agreed to risk the consolidated title in FIDE’s 2007 World Championship Tournament. Anand won the tournament and successfully defended the
    title against Kramnik in a 12-game match in 2008. Anand defeated Topalov in 2010 and Israel player Boris Gelfand in 2012 to retain his title. In 2013 Magnus
    Carlsen of Norway defeated Anand after only 10 games of a 12-game match to become, at age 22, the youngest-ever world chess champion.</p>
<p id="source">Source: Encyclopedia Britannica</p>
</div>
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</html>