{% extends "Website(chessboard)3.0.html" %}

<html lang="en">
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/ForgotPassword.css">
{% endblock %}

{% block body %}
     <div class="container col-lg-8">
<form action="" method="post">
    {{ form.csrf_token }}

    <h2 id="forgot">Reset Your Password</h2>
    <div class="form-group">

        {{ form.password.label(class="form-control-label") }}

        {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", placeholder="Password") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class="form-control", placeholder="Password") }}
        {% endif %}
    </div>
     <div class="form-group">

         {{ form.confirm_password.label(class="form-control-label") }}

         {% if form.confirm_password.errors %}
             {{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm your password") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
         {% else %}
            {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
         {% endif %}

    </div>
    <button type="submit" class="btn btn-dark" id="send-link">Submit</button>
</form>

    </div>
{% endblock %}